<div class="container">
  <div class="row">
    <div class="col mx-auto">

      <!--見出し-->
      <div class="row pt-5 pb-3">
        <h3>
          <%= Date.current.strftime('%m月%d日') %>
          <%= @schedule.nurse.name %>　さんのスケジュール
        </h3>
      </div>


      <!--スケジュール表示-->
      <div class="row p-4 shadow">

        <!--スケジュールのタイトル-->
        <div class="row">
          <div class="col-1">
            患者名
          </div>
          <div class="col-10">

          </div>
          <div class="col-1"></div>
        </div>

        <!--スケジュール中身、１患者さん１行表示される-->
        <% @task_lists.each do |task_list| %>
        <div class="row">
          <div class="col-1">
            <%= task_list.patient.name %>
          </div>
          <div class="col-9">スケジュール</div>
          <div class="col-2">
            <%= link_to "タスク追加", new_task_path, class: "btn btn-sm btn-secondary" %>
            <%= link_to "行を削除する", task_list_path(task_list), method: :delete, class: "btn btn-sm btn-danger" %>
          </div>
        </div>
        <% end %>

        <!--患者さんの追加-->
        <div class="row">
          <div class="col-4">
            <%= form_with model:@task_list, local:true do |f| %>
              <%= f.label :patient_id, "患者選択" %>
              <%= f.collection_select :patient_id, Patient.all, :id, :name, class: "form-control" %>
              <%= f.hidden_field :schedule_id, value: @schedule.id %>
              <%= f.submit "追加", class: "btn btn-sm btn-secondary" %>
            <% end %>
          </div>
        </div>

      </div>

     <!--レビュー投稿と表示画面への遷移リンク -->
      <div class="row p-4 mt-5">
        <div class="col-3">
          スケジュールにレビューをする
        </div>
        <div class="col-3">
          スケジュールへのレビューをみる
        </div>
      </div>

      <!--本日のスケジュールを削除する（タスクもすべて削除される）。ログインユーザーにのみ表示される。-->
      <% if @schedule.nurse_id == current_nurse.id %>
      <div class="row p-3">
        <div class="col-5">
          <%= Date.current.strftime('%m月%d日') %>のスケジュールを削除する
        </div>
        <p class="small">実行後、こちらのスケジュールに対するタスクとレビューがすべて削除されます。</p>
      </div>
      <% end %>

    </div>
  </div>
</div>