<div class="container">
  <div class="row">
    <div class="col mx-auto">

      <!--見出し-->
      <div class="row pt-5 pb-3">
        <div class="col-5">
        <h3>
          <%= Date.current.strftime('%m月%d日') %>
          <%= @schedule.nurse.name %> さんのスケジュール
        </h3>

        </div>
        <div class="col-5">
        <!--プルダウンで看護師名を選択して切替を押下すると、該当看護師の当日分のスケジュールshowページでへ遷移する-->
          <%= form_with url: schedule_path do |f| %>
              <%= f.collection_select :nurse_id, @nurses, :id, :name %>
              <%= f.submit "表示スケジュールの切り替え", class: "btn-sm btn-secondary" %>
          <% end %>
        </div>
      </div>


      <!--スケジュール表示-->
      <div class="row p-4 shadow">

        <!--スケジュールのタイトル-->
        <div class="row border-bottom schedule_title">
          <div class="col-2">
            <div class="row">
              <div class="col-6">
                患者名
              </div>
              <div class="col-6">
                <i class="fas fa-pencil-alt"></i><span class="small">タスク追加</span>
              </div>
            </div>
          </div>

          <div class="col-9">
            時間スケール
          </div>

          <div class="col-1">
            <i class="fas fa-trash"></i><span class="small">行削除</span>
          </div>
        </div>

        <!--スケジュール中身、１患者さん１行表示される-->
        <% @task_lists.each do |task_list| %>
        <div class="row border-bottom">

          <div class="col-2">
            <div class="row">
              <div class="col-6">
                <%= task_list.patient.name %>
              </div>
              <div class="col-5">
                <!--鉛筆マークを押すとタスクが追加される-->
                <%= link_to new_task_list_task_path(task_list.id) do %><i class="fas fa-pencil-alt"></i><% end %>
              </div>
            </div>
          </div>

          <div class="col-9">
             <div class="row">
                <!--タスクリストに紐づくタスクを集めてeachで表示させる-->
                <% (Task.collect_tasks(task_list)).each do |task| %>
                <div class="col">
                  <small>
                  <%= task.task_start_time.to_s(:datetime) %>
                  </small>
                  <strong><%= task.task %></strong>
                </div>
                <% end %>
             </div>
          </div>

          <div class="col-1">
            <!--スケジュールから患者の行を削除する-->
            <%= link_to task_list_path(task_list), method: :delete, class: "body_link" do %><i class="fas fa-trash"></i><% end %>
          </div>
        </div>
        <% end %>

        <!--患者さんの追加-->
        <div class="row pt-3">
          <div class="col-4">
            <%= form_with model:@task_list, local:true do |f| %>
              <%= f.label :patient_id, "患者選択", class: "small" %>
              <%= f.collection_select :patient_id, Patient.all, :id, :name, class: "form-control" %>
              <%= f.hidden_field :schedule_id, value: @schedule.id %>
              <%= f.submit "追加", class: "btn btn-sm btn-secondary" %>
            <% end %>
          </div>
        </div>

      </div>

     <!--レビュー投稿と表示画面への遷移リンク -->
      <div class="row p-4 mt-5 shadow">
        <div class="col-4">
          <%= link_to new_schedule_review_path(@schedule), class: "body_link lead" do %>
            <i class="fas fa-user-edit"></i>
            スケジュールにレビューをする
          <% end %>
        </div>
        <div class="col-4">
          <%= link_to schedule_reviews_path(@schedule), class: "body_link lead" do %>
            <i class="fas fa-user-check"></i>
            スケジュールへのレビューをみる
          <% end %>
        </div>
      </div>

      <!--本日のスケジュールを削除する（タスクもすべて削除される）。ログインユーザーにのみ表示される。-->
      <% if @schedule.nurse_id == current_nurse.id %>
      <div class="row p-3">
        <div class="col-5">
          <%= link_to schedule_path(@schedule.id), method: :delete, class: 'body_link' do %>
            <%= Date.current.strftime('%m月%d日') %>のスケジュールを削除する
          <% end %>
        </div>
        <p class="small">実行後、こちらのスケジュール関連するタスクとレビューがすべて削除されます。</p>
      </div>
      <% end %>

    </div>
  </div>
</div>