<div class="container">
  <div class="row">
    <div class="col mx-auto">

      <div class="row py-5">
        <h3><%= @schedule.created_at.strftime('%m月%d日') %> <%= @schedule.nurse.name %> さんへのレビュー一覧</h3>
      </div>

      <!--スケジュールに紐づくレビューをeachで表示する-->
      <div class="row p-4">
          <% @reviews.each do |review| %>
          <div class="card m-2 shadow" style="width:25rem;">
            <!--<img class="card-img-top" src="../image/100x60.png" alt="Card image cap">-->
            <div class="card-body">
              <h5 class="card-title">From <%= review.reviewer_nurse.name %> </h5>
                <%= form_with model:[@schedule,review], local:true do |f| %>
                <div class="form-group">
                  <div class="row p-1">
                    <%= f.label :review do %><i class="fas fa-user-edit"></i>レビュー内容<% end %>
                    <%= f.text_area :review, class: "form-control" %>
                  </div>
                  <!--レビューした人とと閲覧者が同じであれば、編集・削除リンクを表示する-->
                  <% if review.reviewer_nurse == current_nurse %>
                  <div class="row p-1">
                  <!--reviewer_nurse_は投稿をした看護師。投稿される看護師はscheduleに紐づいている(nurse_id)-->
                    <%= f.hidden_field :reviewer_nurse_id, value: current_nurse.id %>
                    <%= f.hidden_field :schedule_id, value: @schedule.id %>
                    <%= f.submit "編集", class: "btn btn-dark btn-sm col-3" %>
                  </div>
                  <% end %>
                </div>
                <% end %>
                <div class="text-end">
                  <% if review.reviewer_nurse == current_nurse %>
                    <%= link_to schedule_review_path(@schedule.id, review.id), method: :delete, class: "body_link" do %>
                      <i class="fas fa-trash"></i>削除
                    <% end %>
                  <% end %>
                </div>
            </div>
          </div>

          <% end %>
      </div>


    </div>
  </div>
</div>
